# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '.yarn/releases/.*js'
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: "^docs/mkdocs.yml$"
      - id: check-toml
      - id: check-added-large-files
        exclude: '.yarn/releases/.*js'
      - id: mixed-line-ending
        args: ['--fix=lf']
        exclude: "tests/demo_project"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml>=6.0.12.20250516]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.2.1
    hooks:
      - id: cspell
