name: Bump-n-Release

# NOTE: The change log is only updated in the remote upon release (in `bump-release` job)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      component:
        description: The version component to increase
        type: choice
        required: true
        default: patch
        options:
          - major
          - minor
          - patch

permissions: {}

jobs:
  bump-release:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.BUMP_N_RELEASE }}
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: true # allow `git push`

      - name: Setup yarn
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn

      - uses: cargo-bins/cargo-binstall@afcf9780305558bcc9e4bc94b7589ab2bb8b6106 # v1.15.9
      - run: cargo binstall -y git-cliff nu
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: >-
          cargo install --locked
          cargo-edit
          --no-default-features
          --features set-version
      - run: yarn install

      - name: Bump ${{ inputs.component }} version
        env:
          GITHUB_TOKEN: ${{ secrets.BUMP_N_RELEASE }}
        run: nu .github/workflows/bump-n-release.nu ${{ inputs.component }}

  unreleased-notes:
    if: github.event_name != 'workflow_dispatch'
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      - name: Generate a changelog
        run: >-
          uvx --constraints .github/requirements.txt
          git-cliff
          --config .config/cliff.toml
          --unreleased
          --output "${GITHUB_STEP_SUMMARY}"
        env:
          GITHUB_TOKEN: ${{ github.token }}
          GITHUB_REPO: ${{ github.repository }}
